@import url('https://fonts.googleapis.com/css2?family=Siemreap&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Siemreap', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}
